body {
  display: flex;
  justify-content: center;
  background-color:rgb(32, 32, 85);
}

#mainDiv {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  background-color: rgb(40, 40, 132);
}

.btn {
  width: 50px;
  height: 40px;
}

#display {
  width: auto;
  background-color: white;
  margin-bottom: 5px;
}

#buttonsDiv {
  padding: 10px;
  border: solid black;
}